/* Google Fonts Import Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --poppins: "Poppins", sans-serif;
  --lato: "Lato", sans-serif;
  --light: #f9f9f9;
  --blue: #3c91e6;
  --light-blue: #cfe8ff;
  --grey: #eee;
  --dark-grey: #aaaaaa;
  --dark: #342e37;
  --red: #db504a;
  --yellow: #ffce26;
  --light-yellow: #fff2c6;
  --orange: #fd7238;
  --light-orange: #ffe0d3;
  --lightlightgray: #fff9f9;
  --white: #ffffff;
  --ptit: #93181a;
  --light-green: #d4f3d4;
  --green: #4caf50;
  --light-red: #f8d7da;
}

.result-info h1 {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--dark);
  margin-bottom: 1rem;
  text-align: center;
}

.result-info-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.result-info-text span {
  font-size: 1.5rem;
  color: var(--ptit);
  margin-right: 1rem;
}

.result-info-text p {
  padding: 15px;
  background-color: var(--light-red);
  border-radius: 15px;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  color: var(--dark);
  width: calc(100% / 3);
}

button {
  padding: 10px 20px;
  background-color: var(--ptit);
  color: var(--white);
  border: none;
  border-radius: 15px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

#answerDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  width: 100%;
}

#answerDetails div {
  width: 100%;
  margin-bottom: 1rem;
  padding: 15px;
  background-color: var(--light-green);
  border-radius: 15px;
}

#answerDetails div p {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .result-info-text p {
    width: 70% !important;
  }

  .sidebar {
    display: none;
  }
}
