/* Google Fonts Import Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --poppins: "Poppins", sans-serif;
  --lato: "Lato", sans-serif;
  --light: #f9f9f9;
  --blue: #3c91e6;
  --light-blue: #cfe8ff;
  --grey: #eee;
  --dark-grey: #aaaaaa;
  --dark: #342e37;
  --red: #db504a;
  --yellow: #ffce26;
  --light-yellow: #fff2c6;
  --orange: #fd7238;
  --light-orange: #ffe0d3;
  --lightlightgray: #fff9f9;
  --white: #ffffff;
  --ptit: #93181a;
  --light-green: #d4f3d4;
  --green: #4caf50;
  --light-red: #f8d7da;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: var(--poppins); /* Sử dụng font chữ Poppins */
  background-color: #fff; /* Nền trắng */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin: 20px auto;
  overflow-y: auto; /* Cho phép cuộn trên trục y nếu nội dung vượt quá kích thước */
}

.container h2 {
  margin-bottom: 20px;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
}

.controls label {
  margin: auto 0; /* Căn giữa label với các phần tử nhập liệu khác */
}

.controls select,
.controls input[type="date"],
.controls button {
  padding: 10px;
  margin: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.controls button {
  background-color: #fff; /* Nền trắng */
  color: var(--ptit); /* Màu đỏ */
  border: 2px solid var(--ptit); /* Viền màu đỏ */
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold; /* Chữ đậm */
  transition: background-color 0.3s ease, color 0.3s ease;
}

.controls button:hover {
  background-color: var(--ptit); /* Khi hover, nền đổi thành màu đỏ */
  color: #fff; /* Chữ màu trắng */
}

h2 {
  text-align: center;
  color: var(--ptit); /* Màu đỏ */
}

.table-responsive {
  display: flex;
  justify-content: center;
  overflow-x: auto; /* Cho phép cuộn ngang trên thiết bị nhỏ */
  width: 100%;
  margin: 20px 0;
  border-radius: 15px;
}

.statistics-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}

.statistics-summary {
  width: 30%;
  margin-right: 20px;
  margin-left: 5%;
  border: 1px solid #ddd;
  padding: 30px;
  border-radius: 10px;
}

.chart-container {
  width: 30%;
  height: auto; /* Hoặc đặt chiều cao cố định nếu bạn muốn */
  border-radius: 10px;
  border: 1px solid #ddd;
  padding: 20px;
  margin-left: 5%;
}

.statistics-summary h3 {
  color: var(--ptit); /* Màu đỏ cho tiêu đề */
  margin-bottom: 15px;
}

.statistics-summary p {
  font-size: 16px; /* Tăng kích thước font */
  margin: 10px 0; /* Khoảng cách giữa các dòng */
}
.chart-container {
  width: 50%; /* Đặt chiều rộng tối đa cho biểu đồ */
  text-align: center; /* Căn giữa nội dung */
}

/* Responsive */
@media screen and (max-width: 768px) {
  .controls {
    flex-direction: column; /* Chuyển sang chế độ dọc trên màn hình nhỏ */
  }
  .statistics-container {
    flex-direction: column; /* Chuyển sang chế độ dọc trên màn hình nhỏ */
  }
  .statistics-summary p {
    font-size: 14px; /* Giảm kích thước font trên thiết bị nhỏ */
    flex-basis: 100%;
    width: 100%;
    max-width: 100%;
  }
  .chart-container {
    width: 100%; /* Cho phép các phần tử mở rộng chiếm toàn bộ chiều rộng */
    flex-basis: 100%;
    max-width: 100%;
  }
}

table {
  width: 100%;
}

table th {
  padding-bottom: 12px;
  font-size: 13px;
  text-align: left;
  border-bottom: 1px solid var(--grey);
  color: var(--ptit);
}

table td {
  padding: 16px 0;
}

table tr td:first-child {
  /* display: flex; */
  /* align-items: center; */
  grid-gap: 12px;
  /* padding-left: 6px; */
}

table td img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}

table tbody tr:hover {
  background: var(--grey);
}

table tr {
  font-size: 0.8rem;
}

table tr td .status {
  font-size: 0.6rem;
  padding: 5px;
  color: var(--light);
  border-radius: 20px;
  font-weight: 500;
}

table tr td .status.accessible {
  background: var(--dark);
}

table tr td .status.scheduled {
  background: var(--green);
}

table tr td .status.join {
  background: var(--ptit);
}

table tr td.join-exam:hover {
  transform: scale(1.1);
  transition: 0.3s ease;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
